@import url('http://fonts.googleapis.com/css?family=Fredericka+the+Great');

/* text styles formatting */
.text-element HEADER,
.text-element H1,
.text-element H2,
.text-element H3,
.text-element DIV,
.text-element P,
.text-element QUOTE {
  color: #666666;
  font-family: verdana, arial;
}
.text-element HEADER {
  font-size: 45px;
}
/* background element */
.background{

}
.text-element H1{
    font-size: 45px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
}
.text-element H2{
    font-size: 16px;
    font-family: tahoma, sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}
.text-element H3{
    font: normal normal normal 16px/1.3em 'palatino linotype', serif;
    color: rgb(237, 97, 36);
    line-height: 1.3em;
    font-weight: normal;
}
.text-element P{
    font: normal normal normal 13px/1.3em tahoma, sans-serif;
    font-family: tahoma, sans-serif;
}
.text-element.title-bar P{
    font-size: 12px;
    font-family: tahoma, sans-serif;
    color: white;
}
.full-width{
    width:100%;
}
.top{
    z-index: 100;
}
.shadow{
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}
.fixed-menu{
    position: fixed !important;
    top: 0 !important;
    z-index: 1000;
    border-radius: 0 !important;
}
.element-0{
	background-color: rgb(255, 255, 255); width: 980px; height: 3244px; position: absolute; top: 20px; left: 30px;
}
.element-1{
	position: absolute; height: 59px;
top: 155px;
left: 0px;
background-color: rgb(136, 178, 53);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}
.element-2{
	position: absolute; height: 52px; top: 9px; left: 0px; background-color: transparent;
}
.element-3{
	position: absolute; height: 153px; top: 48px; left: 0px;
}
.element-4{
	position: absolute; height: 100px; top: 706px; left: 0px; background-color: rgb(249, 191, 81); border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;
}
.element-5{
	position: absolute; height: 127px; top: -10px; background-color: transparent; left: auto;
}
.element-6{
	position: absolute; top: 211px; left: 0px;
}
.element-7{
	position: absolute; height: 373px; top: 802px; background-color: rgb(234, 234, 234); left: auto;
}
.element-8{
	position: absolute; height: 46px; width: 295px; top: 29px; left: -13px; background-color: rgb(237, 97, 36);
}
.element-9{
	position: absolute; height: 45px; width: 182px; top: 0px; left: 17px; background-color: transparent;
}
.element-10{
	position: absolute; height: 303px; width: 323px; top: 37px; left: 443px;
}
.element-11{
	position: absolute; height: 305px; width: 423px; top: 81px; left: 8px; background-color: transparent;
}
.element-12{
	position: absolute; height: 330px; width: 183px; top: 24px; left: 780px; background-color: transparent;
}
.element-13{
	position: absolute; height: 100px; top: 1193px; left: 0px; background-color: rgb(249, 191, 81); border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;
}
.element-14{
	position: absolute; height: 127px; top: -10px; background-color: transparent; left: auto;
}
.element-15{
	position: absolute; height: 373px; top: 1292px; background-color: rgb(234, 234, 234); left: auto;
}
.element-16{
	position: absolute; height: 46px; width: 295px; top: 29px; left: -13px; background-color: rgb(237, 97, 36);
}
.element-17{
	position: absolute; height: 45px; width: 237px; top: 0px; left: 17px; background-color: transparent;
}
.element-18{
	position: absolute; height: 305px; width: 423px; top: 81px; left: 8px; background-color: transparent;
}
.element-19{
	position: absolute; height: 330px; width: 285px; top: 24px; left: 678px; background-color: transparent;
}
.element-20{
	position: absolute; height: 303px; width: 220px; top: 40px; left: 442px;
}
.element-21{
	position: absolute; height: 100px; top: 1678px; left: 0px; background-color: rgb(249, 191, 81); border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;
}
.element-22{
	position: absolute; height: 127px; top: -10px; background-color: transparent; left: auto;
}
.element-23{
	position: absolute; height: 1216px; top: 1779px; background-color: rgb(234, 234, 234); left: -1px;
}
.element-24{
	position: absolute; height: 250px; width: 250px; top: 50px; left: 678px; background-color: transparent;
}
.element-25{
	position: absolute; height: 243px; width: 183.76874999999998px; top: 30px; left: 15px; border-top-left-radius: 200px; border-top-right-radius: 200px; border-bottom-right-radius: 200px; border-bottom-left-radius: 200px;
}
.element-26{
	position: absolute; height: 240px; width: 159px; top: 30px; left: 496px; border-top-left-radius: 200px; border-top-right-radius: 200px; border-bottom-right-radius: 200px; border-bottom-left-radius: 200px;
}
.element-27{
	position: absolute; height: 250px; width: 250px; top: 50px; left: 215px; background-color: transparent;
}
.element-28{
	position: absolute; height: 214px; width: 320px; top: 692px; left: 639px; border-top-left-radius: 200px; border-top-right-radius: 200px; border-bottom-right-radius: 200px; border-bottom-left-radius: 200px;
}
.element-29{
	position: absolute; height: 250px; width: 588px; top: 355px; left: 377px; background-color: transparent;
}
.element-30{
	position: absolute; height: 213px; width: 320px; top: 362px; left: 15px; border-top-left-radius: 200px; border-top-right-radius: 200px; border-bottom-right-radius: 200px; border-bottom-left-radius: 200px;
}
.element-31{
	position: absolute; height: 10px; width: 744px; top: 309px; left: 140px; background-color: transparent; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(249, 191, 81);
}
.element-32{
	position: absolute; height: 250px; width: 588px; top: 683px; left: 31px; background-color: transparent;
}
.element-33{
	position: absolute; height: 10px; width: 744px; top: 619px; left: 132px; background-color: transparent; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(249, 191, 81);
}
.element-34{
	position: absolute; height: 62px; width: 205px; top: 1101px; left: 399px; background-color: rgb(249, 191, 81); border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px;
}
.element-35{
	position: absolute; height: 71px; width: 169px; top: 9px; left: 19px; background-color: transparent;
}
.element-36{
	position: absolute; height: 10px; width: 744px; top: 943px; left: 127px; background-color: transparent; border-width: 0px 0px 1px; border-style: solid; border-color: rgb(249, 191, 81);
}
.element-37{
	position: absolute; height: 129px; width: 692px; top: 992px; left: 157px; background-color: transparent;
}
.element-38{
	position: absolute; height: 219px; top: 3013px; background-color: rgb(0, 0, 0); left: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;
}
.element-39{
	position: absolute; height: 29px; top: 166px; background-color: transparent; left: 0px;
}
.element-40{
	position: absolute; height: 144px; top: 17px; background-color: transparent; left: 783px; width: 181px;
}
.element-41{
	position: absolute; height: 144px; top: 16px; background-color: transparent; left: 38px; width: 182px;
}
.element-42{
	position: absolute; height: 144px; top: 21px; background-color: transparent; left: 425px; width: 268px;
}
.element-43{
	height: 64px; width: 64px; top: 14px; left: 449px; position: absolute; border-width: 2px; border-style: solid; border-radius: 20px; opacity: 0.7;
}